Repository Chandan-devs-tech/drive-easy-frontend, pull requests merged in 2023-11, with the labels that each got.

#2 User login
  package-lock.json
  package.json
  src/App.js
  src/components/auth/Login.jsx
  src/components/auth/Register.jsx
  src/components/car/car.jsx
  src/index.js
  src/redux/apiCalls.js
  src/redux/store/store.js
  src/redux/user/user.js
  src/request.js
Labels: login

#5 Main page
  package-lock.json
  package.json
  src/App.css
  src/App.js
  src/RootPath.js
  src/components/Home.jsx
  src/components/auth/Login.jsx
  src/components/auth/Register.jsx
  src/components/auth/Register.module.css
  src/components/auth/Splash.jsx
  src/components/auth/login.module.css
  src/components/auth/splash.css
  src/components/car/car.jsx
  src/components/pages/Vehicle.css
  src/components/pages/Vehicles.jsx
  src/components/sideBar/sideBarComponent.js
  src/redux/cars/vehicles.js
  src/redux/store/store.js
Labels: home-page

#6 Details page
  package-lock.json
  package.json
  src/App.css
  src/App.js
  src/App.test.js
  src/RootPath.js
  src/assets/css/index.css
  src/components/Home.jsx
  src/components/auth/Login.jsx
  src/components/auth/Register.jsx
  src/components/pages/CarDetails.jsx
  src/components/pages/Vehicle.css
  src/components/pages/Vehicles.jsx
  src/components/sideBar/responsive.js
  src/index.js
  src/logo.svg
  src/redux/apiCalls.js
  src/redux/cars/CarsSlice.js
  src/redux/cars/vehicles.js
  src/redux/store/store.js
  src/redux/user/user.js
  src/reportWebVitals.js
  src/request.js
  src/setupTests.js
  src/styles/App.css
  src/styles/SideBar.css
  src/styles/index.css
Labels: details-page

#4 Add car
  package-lock.json
  package.json
  src/assets/css/index.css
  src/components/car/AddCar.jsx
  src/components/pages/Vehicles.jsx
  src/components/sideBar/responsive.js
  src/components/sideBar/sideBarComponent.js
  src/redux/cars/CarsSlice.js
  src/styles/AddCar.css
Labels: add-car

#8 Delete Cars
  src/App.js
  src/assets/css/index.css
  src/components/car/DeleteCar.jsx
  src/components/sideBar/responsive.js
  src/components/sideBar/sideBarComponent.js
  src/redux/cars/CarsSlice.js
Labels: delete-car

#9 Add reservation
  .hintrc
  LICENSE
  README.md
  package-lock.json
  package.json
  src/App.js
  src/components/auth/Splash.jsx
  src/components/pages/CarDetails.jsx
  src/components/pages/ReservationForm.jsx
  src/components/pages/ReservationPage.jsx
  src/components/pages/reservationForm.css
  src/components/pages/reservationPage.css
  src/components/sideBar/responsive.js
  src/components/sideBar/sideBarComponent.js
  src/redux/reservation/reservationSlice.jsx
  src/redux/store/store.js
  src/redux/user/user.js
Labels: add-reservation

#13 Add final touches to the project
  src/App.js
  src/assets/css/index.css
  src/components/auth/login.module.css
  src/components/pages/ReservationForm.jsx
  src/components/pages/ReservationPage.jsx
  src/components/sideBar/responsive.js
  src/redux/reservation/reservationSlice.jsx
Labels: fix-issue
